<!DOCTYPE html>
<html lang="pt-br" ng-app="task-module">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Lista de Tarefas</title>

  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="../Aula4/assets/css/styles.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="task-controller">
  <header id="header">
    <section class="title">
      <h1>Lista de Tarefas</h1>
      <button type="button" ng-click="toggleModal()">
        <span class="material-icons">add</span>
      </button>
    </section>
    <section class="filters">
      <label class="checkbox">
        <input type="radio" name="filter" ng-model="selectedFilter" value="completed" />
        <span></span>Completas
      </label>

      <label class="checkbox">
        <input type="radio" name="filter" ng-model="selectedFilter" value="incomplete" />
        <span></span>Incompletas
      </label>

      <label class="checkbox">
        <input type="radio" name="filter" ng-model="selectedFilter" value="today" />
        <span></span>Para Hoje
      </label>
    </section>
  </header>

  <main id="content">
    <p class="empty" ng-show="tasks.length === 0">Nenhuma tarefa cadastrada</p>

    <article
      class="task"
      ng-repeat="task in tasks | filter:getFilter() | orderBy:'checked' track by task.id"
      ng-class="{checked: task.checked}"
    >
      <label class="checkbox">
        <input type="checkbox" ng-model="task.checked" ng-change="toggleTaskChecked()" />
        <span></span>
      </label>

      <h3 ng-bind="task.title"></h3>
      <p class="date" ng-bind="task.dateStr"></p>

      <button type="button" ng-click="deleteTask(task)">
        <span class="material-icons">delete</span>
      </button>
    </article>
  </main>

  <aside class="modal-container" ng-if="modalActive">
    <button class="giant-close-button" ng-click="toggleModal()"></button>

    <div class="modal">
      <button class="close" type="button" ng-click="toggleModal()">
        <span class="material-icons">close</span>
      </button>

      <h2>Adicionar uma tarefa</h2>

      <form ng-submit="handleSubmitAddTask()">
        <label>
          <p>Nome</p>
          <input type="text" placeholder="Nome da tarefa" ng-model="taskInput.title" required />
        </label>

        <label>
          <p>Data</p>
          <input type="date" ng-model="taskInput.date" required />
        </label>

        <button class="send" type="submit">Adicionar</button>
      </form>
    </div>
  </aside>

  <script src="../Aula4/assets/js/main.js"></script>
</body>
</html>
