* {
    margin: 0;
    padding: 0;
    text-align: center; 
}
.portifolio{
    background-color:rgba(255, 192, 203, 0.2);
    padding: 1 rem;
    margin: 2rem;
    text-align: center;
    border: 4px solid hotpink;
    box-shadow: 0 0 10px rgba(255, 20, 147, 0.3);
}
@font-face{
    font-family: Playfair ;
    src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}
body{
    font-family: Playfair;   
}
header{
    margin: 0 auto;
    background-color: #ffc0cb;
    padding: 20px;
    margin-bottom: 0px;
    animation: fadeIn 1s ease-in-out;  
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
#rosto{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center -15px;
    margin-top: 25px;
    margin-bottom: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#rosto:hover {
    transform: scale(1.05) rotate(3deg);
    box-shadow: 0 0 15px rgba(255, 192, 203, 0.6);
}
main {
    background-color: #ffe4e1;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(255, 105, 180, 0.2);
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
}
main p::before {
    content: "• • •  ";
    color: hotpink;
    font-weight: bold;
}
ul {
    list-style-type: none;
    padding-left: 20px;
}

ul li {
    font-size: 1.1rem;
    margin-bottom: 3px; 
    line-height: 1.4;
    color: #000; 
}
.links{
    display: flex;
    flex-direction: column;
    background-color:  #ffc0cb;;
    margin: 0 auto;
    margin-top: 5px;
    gap: 6px;
    transition: background-color 0.3s ease;
}
.links::before {
    content: "Links úteis:";
    display: block;
    font-weight: bold;
    margin: 10px 0;
    color: #313131;
}
.item{
    display: inline-block;
    background-color: rgba(255, 192, 203, 0.5);
    color: #313131;
    font-weight: 600;
    font-size: 16px;
    padding: 6px;
    border-radius: 50px;
    margin: 0 3%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.item:hover {
    background-color: rgba(255, 105, 180, 0.7);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 20, 147, 0.4);
}
@media screen and (max-width: 600px) {
    .portifolio {
        margin: 1rem;
        padding: 1rem;
    }
    header, main, .links {
        padding: 10px;
    }
    #rosto {
        width: 150px;
        height: 150px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .item {
        font-size: 14px;
        padding: 4px 6px;
        margin: 0 2%;
    }
}"