* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
@font-face{
    font-family: Playfair ;
    src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
body{
    font-family: Playfair; 
}

header{
    background-color: #ffc1f7;
    margin-bottom: 5px;
    padding: 40px 10px; 
    height: 95px;
    color: #331327;
    text-align: start; 
    font-size: larger;
    position: fixed;
    left: 0;
    right: 0;
    
}
.menu{
    position: fixed;
    top: 95px; 
    left: 0;
    width: 100%;
    background-color: #ffc1f7; 
    padding: 15px 10px; 
    height: 50px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.item {
    display: inline-block;
    background-color: #f38ec6;
    color: #331327;
    font-size: 16px;
    padding: 6px;
    border-radius: 4px;
    width: 19.73%;
}
  main {
    padding: 170px 10px 20px;
  }
  h2 {
    margin-bottom: 20px;
    color: #444;
  }
  .boxEsquerda {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .post {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background: #faedfc;
    width: 100%;
  }
  .post img {
    width: 50%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }
  #postss{
    width: 45%; 
  }
  .post a {
    color: inherit;
    text-decoration: none;
  }
  
  .boxDireita {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .produto {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background: #faedfc;
    width: 100%;
  }
  .produto img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
  }
  #produtoss{
    position: fixed;
    bottom: 20px;
    top: 170px;
    right: 20px;
    width: 45%; 
  }
