* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
@font-face{
    font-family: Playfair ;
    src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
body{
    font-family: Playfair;
    
}
h1{
    font-size: 32px;
    font-weight: 900;
}
h2{
    font-size: 20px;
    font-weight: 700;
    
}
h3{
    font-size: 18px;
    font-weight: 700;
}
ol, ul{
    padding-left: 30px;
}
img{
    width: 100%;
    height: auto;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: 0.8;
}
a:hover{
    opacity: 1;
    transition: 0.3s;
}
a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: white;
}
p{
    text-align: justify;
    text-indent: 30px;
    margin-block: 16px;
}
li{
    padding-bottom: 8px;
}
li span{
    display: inline-block;
    background-color: rgb(232, 216, 248);
    font-size: 16px;
    padding: 6px;
    border-radius: 4px;
}
pre{
    display: block;
    background-color: rgb(231, 208, 253);
    font-size: 16px;
    padding: 6px;
    border-radius: 4px;
    margin: 0 16px 8px;
}
.post{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(253, 246, 237);
    padding: 20px;
    margin-bottom: 16px;
    border: 2px solid black;
}
.headerrr{
    background-color:  rgb(248, 196, 128);
    margin-bottom: 5px;
    padding: 16px 32px; 
    text-align: center; 
    position: fixed;
    left: 0;
    right: 0;
}
header p{
    text-indent: 0;
    margin: 0;
    text-align: center;
}
#menu{
    background-color: rgb(255, 201, 136);
    background-position: center;
    background-size: cover;
    color: white;
    margin-bottom: 5px;
    padding: 20px;  
    
    
    width: 200px;
    position: fixed;
    top: 95px;
    bottom: 0;
    
}
main{
    padding: 132px 0 32px 200px;
}
nav{
    height: 100%;
}
nav ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: normal; */
    gap: 16px;
    list-style: none;
}
nav ul li{
    background-color: black;
}